VITE_RESUME_URL=your_public_resume_file_url_here
VITE_GITHUB_USERNAME=APPIKONDAKUMARSAI
VITE_GITHUB_RESUME_REPO=RESUME
VITE_GITHUB_RESUME_PATH=data_analyst (1).pdf
VITE_CONTACT_EMAIL=appikondakumarsai2001@gmail.com
